body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    header{
        height: 112px;
        font-family: calc(worksans);
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-direction: row;
        align-items: center;
        width: 1072px;
        display: flex;
        justify-content: flex-start;
        margin-left: 0.8rem;
        align-self: center;
        margin-right: 6rem;
}
.header2{
    font-family: calc(worksans);
    width: 1072px;
    display: flex;
    justify-content: space-evenly;
}
.alert-danger{
    display: none;
}
.nav{
    display: contents;
}
.nav-link{
    color: #212124;
}
.sectiondiv{
    padding-top: 30px;
    width: 1072px;
}
.qoshul{
    width: 235px;
}
.section2{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.firm{
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
    width: 714.66px;
height: 96px;
}
.nav-link{
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    color: black;
}
.qoshul{
    width: 235px;
    justify-content: center;
}

.logomenu{
    width: 353px;
    height: 106px;
    margin-left: -0.5rem;
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.slider{
    height: 100px;
    position: relative;
    /* background-color: #1974C5; */
    /* box-shadow: 0 10px 20px -10px black; */
    display: flex;
    overflow: hidden;
}
.slide{
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 11s linear infinite;
}
.slide img{
    height: 60px;
    padding: 0 30px 0 30px;
}
@keyframes slideshow {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.slider::before
.slider::after{
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0% rgba(255,255,255,0) 100%);
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ('180deg');
}
#button{
    width: 184px;
    height: 48px;
    margin-top: 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 0px;
}
.formn{
    display: contents;
}
.nav-item{
    font-family: calc(worksans);
    display: flex;
    justify-content: space-evenly;
    padding: 15px 21px 15px 7px;
}
.xidmet{
    font-family: calc(worksans);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 192px;
    background-color: #B5B5B5;
    align-items: center;
    flex-direction: column;
}
.xidmetler{
    font-family: calc(worksans);
    width: 1072px;
}
.xid{
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1072px;
    align-self: center;
    margin-bottom: 60px;
}
.invest{
    margin-top: 32px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding-right: 1rem;
}
.ish2{
    display: flex;
    flex-direction: column;
    width: 1072px;
    align-self: center;
    margin-top: 32px;
}
.btn-group{
    width: 26.5rem;
    margin-top: 16px;
}
.btn-group>.btn-group:not(:first-child), .btn-group>:not(.btn-check:first-child)+.btn{
    margin-left: 16px;
    display: flex;
    justify-content: space-evenly;
    width: 159.5px;
    height: 48px;
    align-items: center;
    margin: 3px;
}
.bookk{
    background: white;
    width: 24px;
    height: 24px;
}
.kit{
    background: #1974C5;
    width: 24px;
    height: 24px;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn.dropdown-toggle-split:first-child, .btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    display: flex;
    justify-content: space-evenly;
    width: 159.5px;
    height: 48px;
    align-items: center;
    margin: 3px;
}
.imgs{
    margin-bottom: 3px;
}
.linkedin{
    margin-bottom: 2px;
}
.twit{
    margin-top: 2px;
}
.activ{
    background-color: #1144C5;
}
.coloring{
    background-color: #1D9BF0;
}
.boombap{
    background-color: #0077B7;
}
.bilboard{
    width: 1072px;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.img-fluid{
    height: 312px;
    width: 1072px;
    margin-top: 28px;
}
.paragraph{
    margin-top: 18px;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}
.textmention{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
margin-top: 28px;
}
.sehne{
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
}
.iqlim{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
margin-bottom: 20px;
}
.hidrogen{
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
}
.room{
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
}
.bold{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #2E3131;
}
.footing{
    width: 1072px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 28px;
    /* width: 100%; */
    height: 100%;
    background: #123E4E;
}
.footsection2{
width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.son{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding-top: 32px;
    /* width: 100%; */
}
.trend{
    margin-top: 16px;
}
.putlar{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* width: 882px; */
    margin:18px 50px 0 0;
    /* width: 100%; */
    align-items: center;
}
.xeberdar{
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
}
.more{
    width: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1974C5;
}
.footerden{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
}

.cafex{
    width: 1072px;
    height: 237px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.caxar{
    width: 1072px;
    height: 237px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.shekil{
    width: 180px;
    height: 180px;
    align-self: center;
    margin-left: 32px;
}
.viktor{
    margin-left: 37px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
}
.hasib{
    margin:16px 0 0 37px;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
}
.socials{
    color: black;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 75px;
}
.icons{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 6px 12px 0 0;
    border-radius: 0px;
    background-color: #1974C5;
    color: white;
    border: 0px solid;
    padding: 20px 20px;
    width: 24px;
    height: 24px;
    align-items: center;
    text-decoration: none;
}

.icons:hover{
    color: black;
    background-color: #ffffff;
    border: #1974C5;
    transition: .5s;
}
.axiri{
    width: 1072px;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.selection{
    display: flex;
    justify-content: center;
    color: #1974C5;
    padding: 65px 0 49px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.images{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
}
.footer1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 295px;
    background-color: #123E4E;
    align-items: center;
    flex-direction: column;
    margin: 110px 0 0 0;
}
.latest{
    color: white;
    padding: 72px 0 32px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}
.input2{
    margin-right: 34px;
}
.footsection{
    width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.footsection2 {
    width: 1072px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.input1{
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    /* width: 100%; */
}
#button7{
    width: 166.92px;
    height: 56px;
    padding: 15px;
    margin-left: 32px;
    background-color: #1974C5;
    margin: 1rem 0 1rem 1rem;
}
#button8{
    width: 166.92px;
    height: 56px;
    padding: 15px;
    margin-left: 32px;
    background-color: #1974C5;
    margin: 1rem 0 1rem 1rem;
}
@media only screen and (max-width: 1155px){
    .putlar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: 882px; */
        width: 100%;
        align-items: center;
        padding: 0 20px;
        height: -3%;
    }
 .input2{
        width: 100%!important;
        border-radius: 50px;
        padding: 17px;
        margin: 0;
    }
    .xidmetler{
        width: 100%;
    }
    .footing{

        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 28px;
         width: 100%;
        height: 100%;
        background: #123E4E;
    }
    .ish2{
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px;
    }
    .spinn{
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px;
    }
    .yumru{
        position: absolute;
    background: #1974C5;
    border-radius: 51%;
    margin-top: 6px;
    }
    .tesdiq{
        margin-left: 30px;
        height: 135px;
    }
    .minimal{
        width: 100%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
    align-items: center;
    }
    .fcf-body{
        width: 100%;

    }
    #fcf-form{
        text-align: center;
    }
    .idare{
        text-align: center;
        padding-right: 3rem;
    }
    .card{
        width: 100%!important;

    display: flex;
    align-self: center;
    margin: 84px 0 0 0;
    }
    .fcf-form-control{
        margin: 0;
    width: 100%;
    grid-gap: 0 20px;
    }
    .fcf-form-controller{
        width: 100%;
    }
    .balaca{
        width: 100%;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .fcf-form-group{
        width: 100%;
    }
    .fcf-input-group{
        width: 100%;
    }
    #fcf-form-id{
        padding-right: 38px;
    }
    .epi{
        font-size:25px;
        padding-right: 38px;
    }
}
@media only screen and (max-width: 1110px){
    .yuk{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
    @media only screen and (max-width: 1040px){
        .logomenu {
    width: 100%;
    margin-inline: 0;
}
        .footsection{
            width: 100%;
        }
        .line{
            width: 50px;
            height: 3px;
            padding: 3px;
            background-color: #d9d9d9;
            line-height: normal;
            margin: 3px;
            display: flex;
            justify-content: center;
            align-self: center;
        }
        .menum{
            display: flex;
            justify-content: flex-end;
            align-self: center;
            flex-direction: column;
            background-color: #B5B5B5;
            padding: 10px;
            width: 100%;
            border: 1px solid antiquewhite;
            z-index: 1;
        }
        #button {
            width: 184px;
            height: 48px;
            margin: 10px 0 15px;
            background-color: #D9D9D9;
            border: none;
            border-radius: 0px;
        }
        .nav-item{
            display: flex;
            justify-content: space-evenly;
            padding: 0px 0px 16px 0px;
        }
        .nav{
            display: flex;
            width: 100%;
            text-align: center;
            transition: 0.2s;
            flex-direction: column;
            align-items: center;
            top: 59px;
            background: #B5B5B5;
            position: absolute;
            align-content: center;
            padding-bottom: 10px;
            padding-top: 26px;
        }
        .header2{
            height: 0;
            position: absolute;
            margin-bottom: 65px;
            top: 0px;
            width: 100vw;
            transition: 0.5s;
            overflow: hidden;
            /* margin: 66px 0 0 0; */
        }
        .gango{
            display: none;
        }
        .header2.active{
            height: 100vh;
            margin: 0;
        }
        .header2.active{
            opacity: 1;
            width: 100%;
            display: flex;
        }
        header{
            height: 100%;
            width: 100%;
            justify-content: center;
            margin: 0;
        }
    }
    .axiri{
        width: 100%;
    }

@media only screen and (max-width: 1130px){
    .footer1{
        text-align: center;
        height: 100%;
        margin-top: 70px;
    }
    .bilboard{
        width: 100%;
        height: 100%;
        padding: 0 20px 0 20px;
        text-align: center;
    }
    .img-fluid{
        width: 100%;
        height: 100%;
    }
    .footsection2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    #button7{
        margin: 20px 0 20px 0;
    }
    .socials{
        margin: 0px 0 0 11px;
    }
    .pictures{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding-left: 20px;
        flex-direction: row;
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-gap: 0 32px;
    }
  }
  @media only screen and (max-width: 768px){
    .input1 {
    width: 90%!important;
    border-radius: 50px;
    padding: 17px;
    }
}
@media only screen and (max-width: 700px){
   .xeberdar{
    font-size: 21px;
    width: 100%;
   }
}
@media only screen and (max-width: 488px){
    .selection {
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.btn-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media only screen and (max-width: 1080px){
    .footerden{
        display:flex;
        flex-direction:column;
        width:100%;
        padding:0 20px;
    }
    .cafex{
        width:100%;
        display:flex;
        flex-direction:column;
        height:100%;
        justify-content:center;
        align-items:center;
        align-self:center;
        text-align:center;
        padding:20px 0;
        margin:20px 0;
    }
    .shekil{
        margin:0;
    }
    .melendez{
        padding:0;
    }
    .hasib{
        margin:10px 20px 0 20px;
    }
    .viktor{
        margin:20px 0;
    }
}