/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
header{
    height: 112px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    margin-right: -6.5rem;
    align-self: center;
}
.header2{
    width: 1072px;
    display: flex;
    justify-content: flex-start;
    margin-right: -9rem;
}
#button{
    width: 184px;
    height: 48px;
    margin-top: 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 0px;
}
.nav-item{
    display: flex;
    justify-content: center;
    padding: 15px 32px 15px 7px;
}
.xidmet{
    font-family: calc(worksans);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 192px;
    background-color: #B5B5B5;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: column;
}

.nav{
    display: contents;
}
.nav-link{
    color: #212124;
}
.sectiondiv{
    padding-top: 30px;
    width: 1072px;
}
.qoshul{
    width: 235px;
}
.section2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.firm{
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
    width: 714.66px;
height: 96px;
}
.nav-link{
    font-family: 'Work Sans', sans-serif;
    display: flex; 
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    color: black;
}
.qoshul{
    width: 235px;
    justify-content: center;
}

.xidmetler{
    font-family: calc(worksans);
    width: 1072px;
}
.xid{
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
            align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}


.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #696969;
    background-color: #d4d2d2;
    border-color: #000000;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 423px;
    background-color: #F3F5F8;
    color: #ACB3B8;
    border: 0;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}

.jayko{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1072px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 32px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.anket{
    width: 423px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.komek{
    width: 612px;
}
.bilek{
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
}
.hemishe{
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
hr{
    margin: 2rem 0 2rem;
    position: relative;
    border: black;
    height: 2.5px;
    background: black;
    color: black;
    opacity: 1;
}
.seconder{
    margin: 3rem 0 2rem;
}
.selection{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #1974C5;
    padding: 4rem 0 49px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.images{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height:70px;
}
.footer1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 295px;
    background-color: #123E4E;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: column;
    margin: 110px 0 0 0;
}
.latest{
    color: white;
    padding: 72px 0 32px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}
.footsection{
    width: 1072px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footsection2{
    width: 1072px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.input1{
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
}
#button4{
    width: 166.92px;
    height: 56px;
    padding: 15px;
    margin-left: 55%;
    background-color: #1974C5;
}
#button5{
    width: 166.92px;
    height: 56px;
    padding: 15px;
    margin-left: 55%;
    background-color: #1974C5;
}
#button6{
    width: 166.92px;
    height: 56px;
    padding: 15px;
    margin-left: 55%;
    background-color: #1974C5;
}
#button7{
    width: 166.92px;
    height: 56px;
    padding: 15px;
    margin-left: 32px;
    background-color: #1974C5;
}
.socials{
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 0 0 75px;
}
.icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: 6px 12px 0 0;
    border-radius: 0px;
    background-color: #1974C5;
    color: white;
    border: 0px solid;
    padding: 20px 20px;
    width: 24px;
    height: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}
.alert-danger{
    display: none;
}
.wrapper{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.slider{
    height: 100px;
    position: relative;
    /* background-color: #1974C5; */
    /* box-shadow: 0 10px 20px -10px black; */
    display: flex;
    overflow: hidden;
}
.slide{
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 11s linear infinite;
}
.slide img{
    height: 60px;
    padding: 0 30px 0 30px;
}
@keyframes slideshow {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.slider::before
.slider::after{
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0% rgba(255,255,255,0) 100%);
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ('180deg');
}
.paris{
    font-family: 'Work Sans', sans-serif;
}
.icons:hover{
    color: black;
    background-color: #ffffff;
    border: #1974C5;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.frame{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}
.logomenu{
    width: 353px;
    height: 106px;
    margin-left: -0.5rem;
}
.susan{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1072px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
hr{
    margin: 2rem 0 2rem;
    position: relative;
    border: black;
    height: 2.5px;
    background: black;
    color: black;
    opacity: 1;
}
.axiri{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1072px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.formn{
    display: contents;
}
.footsection2 {
    width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

@media only screen and (max-width: 1040px){
    .line{
        width: 50px;
        height: 3px;
        padding: 3px;
        background-color: #d9d9d9;
        line-height: normal;
        margin: 3px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .menum{
        display: flex;
        justify-content: flex-end;
        align-self: center;
        flex-direction: column;
        background-color: #B5B5B5;
        padding: 10px;
        width: 100%;
        border: 1px solid antiquewhite;
        z-index: 1;
    }
    #button {
        width: 184px;
        height: 48px;
        margin: 10px 0 15px;
        background-color: #D9D9D9;
        border: none;
        border-radius: 0px;
    }
    .nav-item{
        align-self: center;
        display: flex;
        justify-content: space-evenly;
        padding: 0px 0px 16px 0px;
    }
    .nav{
        z-index: 100;
        display: flex;
        width: 100%;
        text-align: center;
        transition: 0.2s;
        flex-direction: column;
        align-items: center;
        /* height: 100%; */
        top: 59px;
        background: #B5B5B5;
        position: absolute;
        align-content: center;
        padding-bottom: 10px;
        padding-top: 26px;
    }
    .header2{
        height: 0;
        position: absolute;
        margin-bottom: 65px;
        top: 0;
        /* width: 100vw; */
        transition: 0.5s;
        overflow: hidden;
        /* margin: 66px 0 0 0; */
    }
    .gango{
        display: none;
    }
    .header2.active{
        height: 100vh;
        margin: 0;
    }
    .header2.active{
        opacity: 1;
        width: 100%;
        display: flex;
    }
    header{
        height: 100%;
        width: 100%;
        margin: 0;
    }
}@media only screen and (max-width: 1040px){
    .footsection{
        width: 100%;
    }
.logomenu {
    height: 100%;
    width: 100%;
    margin-inline: 0;
    /* display: flex; */
}
}
@media only screen and (max-width: 1130px){
    .footer1{
        text-align: center;
    height: 100%;
    }
    .footsection2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    #button7{
        margin: 20px 0 20px 0;
    }
    .socials{
        margin: 0px 0 0 10px;
    }
    .axiri{
        width: 100%;
        height: 100%;
    }
.images {
    /* width: 46%; */
    flex-wrap: wrap;
    /* grid-gap: 0 32px; */
    padding: 10px 10px 10px 10px;
    height: 83%;
    /* border: 1px solid; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
}
  }

  @media only screen and (max-width: 768px){
     .input1{
    width: 90%!important;
}
.latest{
    font-size: 21px;
    padding: 19px 15px 13px 15px;
 }
  }
  @media only screen and (max-width: 488px){
    .selection{
        text-align: center;
        font-size: 19px;
        width: 100%;
    }
  }
  
@media only screen and (max-width: 1130px){
    .footer1{
        text-align: center;
    height: 100%;
    }
    .footsection2{
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
    #button7{
        margin: 20px 0 20px 0;
    }
    .socials{
        margin: 0px 0 0 25px;
    }
    .pictures{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding: 0 14px 0 14px;
        flex-direction: row;
        text-align: center;
    }
    .label{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
    }
  }
@media only screen and (max-width: 768px){
    .input1{
   width: 90%!important;
   border-radius: 50px;
   padding: 17px;
}
.frame{
    font-size: 22px;
}
 }
 @media only screen and (max-width: 488px){
   .selection{
       text-align: center;
       font-size: 25px;
       width: 100%;
   }
   [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
    width: 100%;
   }
   .fcf-body{
    width: 100%;
   }
 }
 @media only screen and (max-width: 1090px){
    .xidmetler{
        width: 100%;
    }
  }
@media only screen and (max-width:1090px){
    .jayko{
        width: 100%;
    }
    .axiri{
        width: 100%;
    }
}
@media only screen and (max-width:880px){
    .jayko{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 20px 0 20px;
    }
    .komek{
        width: 100%;
    }
    .anket{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width:1086px){
    .susan{
        width: 100%;
        text-align: center;
        padding:0 20px 0 20pxm ;
    }
}
@media only screen and (max-width: 488px){
    .selection {
    text-align: center;
    font-size: 20px;
    width: 100%;
}
}
@media only screen and (max-width: 1130px){
    .footer1{
        text-align: center;
        height: 100%;
        margin-top: 70px;
    }
    .footsection2{
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px 0 20px;
    }
    #button7{
        margin: 20px 0 20px 0;
    }
    .socials{
        margin: 0px 0 0 11px;
    }
}
@media only screen and (max-width: 950px){
    .footing{
        height: 100%;
        width: 100%;
    }
}