body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    height: 112px;
    font-family: calc(worksans);
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    align-items: center;
    width: 1072px;
    display: flex;
    justify-content: flex-start;
    margin-left: 0.8rem;
    align-self: center;
    margin-right: 6rem;
}
.header2{
    font-family: calc(worksans);
    width: 1072px;
    display: flex;
    justify-content: space-evenly;
}
.button {
    width: 105px;
    height: 42px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    text-decoration: none;
    background-color: #0077B7;
    color: white;
    margin-top: 10px;
}
.nav{
    display: contents;
}
.nav-link{
    color: #212124;
}
.sectiondiv{
    padding-top: 30px;
    width: 1072px;
}
.qoshul{
    width: 235px;
}
.section2{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.firm{
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
    width: 714.66px;
height: 96px;
}
.nav-link{
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    color: black;
}
.qoshul{
    width: 235px;
    justify-content: center;
}

.logomenu{
    width: 353px;
    height: 106px;
    margin-left: -0.5rem;
    display: flex;
    justify-content: center;
}
#button{
    width: 184px;
    height: 48px;
    margin-top: 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 0px;
}
.nav-item{
    font-family: calc(worksans);
    display: flex;
display: flex;
    justify-content: space-evenly;
    padding: 15px 31px 15px 7px;
}
.xidmet{
    font-family: calc(worksans);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 192px;
    background-color: #B5B5B5;
    align-items: center;
    flex-direction: column;
}
.xidmetler{
    font-family: calc(worksans);
    width: 1072px;
}
.xid{
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1072px;
    align-self: center;
    margin-bottom: 60px;
}
.invest{
    margin-top: 32px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding-right: 1rem;
}
.ish2{
    display: flex;
    flex-direction: column;
    width: 1072px;
    align-self: center;
    margin-top: 32px;
}
.btn-group{
    width: 26.5rem;
    margin-top: 16px;
}
.btn-group>.btn-group:not(:first-child), .btn-group>:not(.btn-check:first-child)+.btn{
    margin-left: 16px;
    display: flex;
    justify-content: space-evenly;
    width: 159.5px;
    height: 48px;
    align-items: center;
    margin: 6px 0 0 0;

}
.bookk{
    background: white;
    width: 24px;
    height: 24px;
}
.kit{
    background: #1974C5;
    width: 24px;
    height: 24px;
    margin-bottom: 3.2px;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn.dropdown-toggle-split:first-child, .btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    display: flex;
    justify-content: space-around;
    width: 159.5px;
    height: 48px;
    align-items: center;
    /* width: 100%; */
    margin-top: 6px;
}
.imgs{
    margin-bottom: 3px;
}
.linkedin{
    margin-bottom: 2px;
}
.twit{
    margin-top: 2px;
}
.activ{
    background-color: #1144C5;
}
.coloring{
    background-color: #1D9BF0;
}
.boombap{
    background-color: #0077B7;
}
.mush{
    margin-top: 32px;
    font-style: normal;
    font-weight: 650;
    font-size: 24px;
    line-height: 48px;
}
.darking{
    margin-top:20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dark{
    width: 18px;
    height: 104px;
    background: #1974C5;
}
.aciqlama{
    margin-left: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    text-align: justify;
    color: #2E3131;
    opacity: 0.7;
}
.bizim{
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    text-align: justify;
    color: #2E3131;
    opacity: 0.7;
}
.spinn{
    width: 1072px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    align-items: baseline;
    flex-direction: column;
    margin-top: 24px;
}
.yumru{
    width: 16px;
height: 15px;
background: #1974C5;
border-radius: 51%;
}
.tesdiq{
    margin: 0 0 0 16px;
    font-style: normal;
font-size: 20px;
line-height: 24px;
text-align: justify;
color: #2E3131;
opacity: 0.7;
}
.tesdiqli{

    font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
text-align: justify;
color: #2E3131;
}
.bigben{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0;
    padding: 20px 0 0 0;
}
.ending{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #123E4E;
    margin: 52px 0 20px;
}
.minimal{
    width: 1072px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}


#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    padding: 30px 0 30px 30px;
    padding-bottom: 10px;
    border-radius: 0.25rem;
    width: 793px;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 362.67px;
    height: 48px;
    margin-right: 36px;
}
.fcf-form-controller {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 793px;
    height: 156px;
}
.balaca{
    display: flex;
    flex-direction: row;
}
.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #ACB3B8;
    background-color: white
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.wrapper{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.slider{
    height: 100px;
    position: relative;
    /* background-color: #1974C5; */
    /* box-shadow: 0 10px 20px -10px black; */
    display: flex;
    overflow: hidden;
}
.slide{
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 11s linear infinite;
}
.slide img{
    height: 60px;
    padding: 0 30px 0 30px;
}
@keyframes slideshow {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.slider::before
.slider::after{
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0% rgba(255,255,255,0) 100%);
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ('180deg');
}
.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}
.card-img, .card-img-top{
    width: 239.42px;
    height: 239.42px;
    border: 1px solid;
    border-radius: 100%;
    display: flex;
    align-self: center;
}
.card{
    border: 0;
    background-color: #123E4E;
    color: white;
    margin-top: 84px;
    margin-right: 30px;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.epi{
    font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
}
.idare{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: justify;
color: #FFFFFF;
opacity: 0.7;
}
.socials{
    color: black;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 75px;
}
.icons{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 6px 12px 0 0;
    border-radius: 0px;
    background-color: #1974C5;
    color: white;
    border: 0px solid;
    padding: 20px 20px;
    width: 24px;
    height: 24px;
    align-items: center;
    text-decoration: none;
}
.formn{
    display: contents;
}
.icons:hover{
    color: black;
    background-color: #ffffff;
    border: #1974C5;
    transition: .5s;
}
.axiri{
    width: 1072px;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.selection{
    display: flex;
    justify-content: center;
    color: #1974C5;
    padding: 4rem 0 49px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.images{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
}
.footer1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 295px;
    background-color: #123E4E;
    align-items: center;
    flex-direction: column;
    margin: 110px 0 0 0;
}
.latest{
    color: white;
    padding: 72px 0 32px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}
.footsection{
    width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.footsection2{
    width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.input1{
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
}
#button7{
    width: 166.92px;
    height: 56px;
    padding: 15px;
    margin-left: 32px;
    background-color: #1974C5;
}
.alert-danger{
    display: none;
}
.hesabat{
    font-style: normal;
    font-weight: 620;
    font-size: 30px;
    line-height: 48px;
}
.oktyabr{
    font-style: normal;
font-weight: 620;
font-size: 24px;
line-height: 32px;
}
.yuk{
    width: 1072px;
    display: flex;
    justify-content: end;
    align-self: center;
}
@media only screen and (max-width: 1155px){
    .xidmetler{
        width: 100%;
    }
    .ish2{
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px;
    }
    .spinn{
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px;
    }
    .yumru{
        position: absolute;
    background: #1974C5;
    border-radius: 51%;
    margin-top: 6px;
    }
    .tesdiq{
        margin-left: 30px;
        height: 135px;
    }
    .minimal{
        width: 100%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
    align-items: center;
    }
    .fcf-body{
        width: 100%;

    }
    #fcf-form{
        text-align: center;
    }
    .idare{
        text-align: center;
        padding-right: 3rem;
    }
    .card{
        width: 100%!important;

    display: flex;
    align-self: center;
    margin: 84px 0 0 0;
    }
    .fcf-form-control{
        margin: 0;
    width: 100%;
    grid-gap: 0 20px;
    }
    .fcf-form-controller{
        width: 100%;
    }
    .balaca{
        width: 100%;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .fcf-form-group{
        width: 100%;
    }
    .fcf-input-group{
        width: 100%;
    }
    #fcf-form-id{
        padding-right: 38px;
    }
    .epi{
        font-size:25px;
        padding-right: 38px;
    }
}
@media only screen and (max-width: 1110px){
    .yuk{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
    @media only screen and (max-width: 1040px){
        .logomenu {
    width: 100%;
    margin-inline: 0;
}
        .footsection{
            width: 100%;
        }
        .line{
            width: 50px;
            height: 3px;
            padding: 3px;
            background-color: #d9d9d9;
            line-height: normal;
            margin: 3px;
            display: flex;
            justify-content: center;
            align-self: center;
        }
        .menum{
            display: flex;
            justify-content: flex-end;
            align-self: center;
            flex-direction: column;
            background-color: #B5B5B5;
            padding: 10px;
            width: 100%;
            border: 1px solid antiquewhite;
            z-index: 1;
        }
        #button {
            width: 184px;
            height: 48px;
            margin: 10px 0 15px;
            background-color: #D9D9D9;
            border: none;
            border-radius: 0px;
        }
        .nav-item{
            display: flex;
            justify-content: space-evenly;
            padding: 0px 0px 16px 0px;
        }
        .nav{
            display: flex;
            width: 100%;
            text-align: center;
            transition: 0.2s;
            flex-direction: column;
            align-items: center;
            top: 59px;
            background: #B5B5B5;
            position: absolute;
            align-content: center;
            padding-bottom: 10px;
            padding-top: 26px;
        }
        .header2{
            height: 0;
            position: absolute;
            margin-bottom: 65px;
            top: 0;
            /* width: 100vw; */
            transition: 0.5s;
            overflow: hidden;
            /* margin: 66px 0 0 0; */
        }
        .gango{
            display: none;
        }
        .header2.active{
            height: 100vh;
            margin: 0;
        }
        .header2.active{
            opacity: 1;
            width: 100%;
            display: flex;
        }
        header{
            height: 100%;
            width: 100%;
            justify-content: center;
            margin: 0;
        }
    }
    .axiri{
        width: 100%;
    }

@media only screen and (max-width: 1130px){
    .footer1{
        text-align: center;
        height: 100%;
        margin-top: 70px;
    }
    .footsection2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    #button7{
        margin: 20px 0 20px 0;
    }
    .socials{
        margin: 0px 0 0 11px;
    }
    .pictures{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding-left: 20px;
        flex-direction: row;
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-gap: 0 32px;
    }
  }
  @media only screen and (max-width: 768px){
    .input1 {
    width: 90%!important;
    border-radius: 50px;
    padding: 17px;
    }
}
@media only screen and (max-width: 488px){
    .selection {
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.btn-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}