body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    height: 112px;
    font-family: calc(worksans);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    /* margin-right: 7rem; */
    width: 1072px;
    align-self: center;
    margin-right: 4rem;
}
.header2{
    font-family: calc(worksans);
    width: 1072px;
    display: flex;
    justify-content: space-evenly;
    margin-right: -4.5rem;
}
#button{
    width: 184px;
    height: 48px;
    margin-top: 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 0px;
}
.xbizit{
    color: black;
    text-decoration: solid;
    font-weight: 500;
}

.nav{
    display: contents;
}
.nav-link{
    color: #212124;
}
.sectiondiv{
    padding-top: 30px;
    width: 1072px;
}
.qoshul{
    width: 235px;
}
.section2{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.firm{
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
    width: 714.66px;
height: 96px;
}
.nav-link{
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    color: black;
}
.qoshul{
    width: 235px;
    justify-content: center;
}


.nav-item{
    font-family: calc(worksans);
    display: flex;
    justify-content: space-evenly;
    padding: 15px 37px 15px 7px;
}
a:hover{
    color: #918585;

}
.xidmet{
    font-family: calc(worksans);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 192px;
    background-color: #B5B5B5;
    align-items: center;
    flex-direction: column;
}
.xidmetler{
    font-family: calc(worksans);
    width: 1072px;
}
.xid{
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1072px;
    align-self: center;
    margin-bottom: 60px;
}
.invest{
    margin-top: 32px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding-right: 1rem;
}
.your{
    font-style: normal;
font-weight: 600;
line-height: 48px;
}
.GES{
    width: 521px;
    height: 240px;
    margin-top: 16px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}
.pict{
width: 516.72px;
height: 312px;
margin-top: 32px;
background: #D9D9D9;
}
.label{
    width: 1072px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 32px;
}
.btn-outline-primary{
    border: 1px solid white;
    height: 48px;
    --bs-btn-active-bg: #1974C5;
    --bs-btn-color: black;
}
.btn-group>.btn-group:not(:first-child), .btn-group>:not(.btn-check:first-child)+.btn{
    display: flex;
    align-items: center;
    --bs-btn-border-radius:none;
}
.btn-group-vertical>.btn, .btn-group>.btn{
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.ham{
    margin: revert;
    color: black;
}
u{
    margin-right: 16px;
}
.fa-solid{
    width: 19px;
}
.pictures{
    flex-direction: row;
    display: flex;
    width: 1072px;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 44px;
    grid-gap: 0 32px;
}
.card{
    margin-bottom: 35px;
    --bs-card-border-width: none ;
    width: max-content;
}
.card-img-top{
    height: 306px;
    width: 336px;
}
.card-body{
    width: 336px;
    height: 132px;
    padding: 12px 0 0 0 ;
}
.hekaye{
    width: 139px;
    height: 40px;
    background-color: #E9F4FF;
    display: flex;
    align-items: center;
    font-style: normal;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    margin: 16px 0 0 16px;
}
.socials{
    color: black;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 75px;
}
.icons{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 6px 12px 0 0;
    border-radius: 0px;
    background-color: #1974C5;
    color: white;
    border: 0px solid;
    padding: 20px 20px;
    width: 24px;
    height: 24px;
    align-items: center;
    text-decoration: none;
}

.icons:hover{
    color: black;
    background-color: #ffffff;
    border: #1974C5;
    transition: .5s;
}
.axiri{
    width: 1072px;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-top: 25px;
}
.xett{
    margin: 1rem 0;
    color: black;
    border: 0;
    border-top: 2px solid;
    opacity: 1;
}
.selection{
    display: flex;
    justify-content: center;
    color: #1974C5;
    padding: 42px 0 49px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.images{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
}
.footer1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 295px;
    background-color: #123E4E;
    align-items: center;
    flex-direction: column;
    margin: 110px 0 0 0;
}
.latest{
    color: white;
    padding: 72px 0 32px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}
.footsection{
    width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.footsection2{
    width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.alert-danger{
    display: none;
}
.input1{
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
}
.wrapper{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.slider{
    height: 100px;
    position: relative;
    /* background-color: #1974C5; */
    /* box-shadow: 0 10px 20px -10px black; */
    display: flex;
    overflow: hidden;
}
.slide{
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 11s linear infinite;
}
.slide img{
    height: 70px;
    padding: 0 30px 0 30px;
}
@keyframes slideshow {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.slider::before
.slider::after{
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0% rgba(255,255,255,0) 100%);
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ('180deg');
}
#button7{
    width: 166.92px;
    height: 56px;
    padding: 15px;
    margin-left: 32px;
    background-color: #1974C5;
}
.btn-check+.btn:hover{
    border-color: white;
}
.bbc{
    border-radius: initial;
}
.logomenu{
    height: 106px;
    margin-left: -0.5rem;
    width: 353px;
}
.ufo{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}
.exer{
    font-style: normal;
font-weight: 450;
font-size: 16px;
line-height: 24px;
color: black;
opacity: 1;
}
.formn{
    display: contents;
}

@media only screen and (max-width: 1350px){
    body{
        width: 100%;
    }
    .xett{
        width: 100%;
    }
    .ishciler{
        width: 100%;
    }
    .headpara{
        padding-left: 10px;
        background-size: contain;
        width: 100%;
    }
    .headpara2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: center;
        text-align: center;
        width: 100%;
    }
}
@media only screen and(max-width:350px){
    .btn-group{
        width: 100%;
        padding: 0 10px 0 10px;
        height: 100%;
    }
}
@media only screen and (max-width: 560px){
    .pict{
        width: 100%;
    }
}
@media only screen and (max-width: 1110px){
    .accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed{
        width: 100%;
    }
    .akord{
        width: 100%;
    }
    .accordion{
        width: 100%;
        padding: 0 20px 0 20px;
    }
    .reach{
        margin-top:73px ;
    }
        .our{
        text-align: center;
        width: 100%;
        display: block;
    }
    .team{
        display: -webkit-box;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding-left: 20px;
        grid-gap: 0 32px;
    }
    .data{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         align-self: center;
         width: 100%;
         height: 100%;
         padding: 0 20px 0 20px;
     }
     .GES{
        width: 100%;
        height: 100%;
     }
     .your{
        text-align: center;
        width: 100%;
     }
}
@media only screen and (max-width: 560px){
    .image{
        width: 100%;
    }
}
@media only screen and (max-width: 1040px){
    .line{
        width: 50px;
        height: 3px;
        padding: 3px;
        background-color: #d9d9d9;
        line-height: normal;
        margin: 3px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .menum{
        display: flex;
        justify-content: flex-end;
        align-self: center;
        flex-direction: column;
        background-color: #B5B5B5;
        padding: 10px;
        width: 100%;
        border: 1px solid antiquewhite;
        z-index: 1;
    }
    #button {
        width: 184px;
        height: 48px;
        margin: 10px 0 15px;
        background-color: #D9D9D9;
        border: none;
        border-radius: 0px;
    }
    .nav-item{
     display: flex;
     justify-content: space-evenly;
     /* padding: 26px 21px 15px 7px; */
     /* height: 8%; */
     /* width: 100%; */
     padding: 0px 0px 16px 0px;
    }
    .nav{
   display: flex;
   width: 100%;
   text-align: center;
   transition: 0.2s;
   flex-direction: column;
   align-items: center;
   top: 59px;
   background: #B5B5B5;
   position: absolute;
   align-content: center;
   padding-bottom: 10px;
   padding-top: 26px;
   z-index: 100;
   }
    .header2{
        height: 0;
        position: absolute;
        margin-bottom: 65px;
        top: 0;
        /* width: 100vw; */
        transition: 0.5s;
        overflow: hidden;
        /* margin: 66px 0 0 0; */
    }
    .gango{
        display: none;
    }
    .header2.active{
        height: 100vh;
        margin: 0;
    }
    .header2.active{
        opacity: 1;
        width: 100%;
        display: flex;
    }
    header{
        height: 100%;
        width: 100%;
        margin: 0;
    }
}@media only screen and (max-width: 1040px){
    .footsection{
        width: 100%;
    }

.logomenu {
    height: 100%;
    width: 100%;
    /* margin-right: 0; */
    /* display: flex; */
}
}
@media only screen and (max-width: 1130px){
    .footer1{
        text-align: center;
    height: 100%;
    }
    .footsection2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    #button7{
        margin: 20px 0 20px 0;
    }
    .socials{
        margin: 0px 0 0 10px;
    }
    .axiri{
        width: 100%;
        height: 100%;
    }
.images {
    /* width: 46%; */
    flex-wrap: wrap;
    /* grid-gap: 0 32px; */
    padding: 10px 10px 10px 10px;
    height: 83%;
    /* border: 1px solid; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
}
  }

  @media only screen and (max-width: 768px){
     .input1{
    width: 90%!important;
}
.latest{
    font-size: 21px;
    padding: 19px 15px 13px 15px;
 }
  }
  @media only screen and (max-width: 488px){
    .selection{
        text-align: center;
        font-size: 19px;
        width: 100%;
    }
      .slide img {
    padding: 15px;
}
  }

@media only screen and (max-width: 1130px){
    .footer1{
        text-align: center;
        height: 100%;
        margin-top: 70px;
    }
    .footsection2{
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
    #button7{
        margin: 20px 0 20px 0;
    }
    .socials{
        margin: 0px 0 0 11px;
    }
    .pictures{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        padding: 0 9px 0 9px;
        flex-direction: row;
        text-align: center;
        align-content: flex-start;
        justify-content:center;
    }
    .label{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
    }
  }
@media only screen and (max-width: 768px){
    .input1{
   width: 90%!important;
   border-radius: 50px;
   padding: 17px;
}
 }
 @media only screen and (max-width: 488px){
   .selection{
       text-align: center;
       font-size: 20px;
       width: 100%;
   }
 }
 @media only screen and (max-width: 1090px){
    .xidmetler{
        width: 100%;
    }
  }
  @media only screen and (max-width:408px){
    .btn-group{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 90%;
        border: 1px solid;
        z-index: 99;
        padding: 27px 0 10px 0;
    }
    .hes{
        margin-top: 8px;
    }
  }
  @media only screen and (max-width:373px){
    .pictures, .card, .card-body, .card-img-top{
        width: 100%;
        height: 100%;
  }
  .exer{
    font-size: 13px;
  }
  .hekaye{
    width: 75px;
    height: 20px;
    font-size: 8px;
  }
  }