body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    align-content: center;
    height: 112px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    /* margin-right: -12rem; */
    margin-right: -6.5rem;
    align-self: center;
}

.nav{
    display: contents;
}
.nav-link{
    color: #212124;
}
.sectiondiv{
    padding-top: 30px;
    width: 1072px;
}
.qoshul{
    width: 235px;
}
.section2{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.firm{
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
    width: 714.66px;
height: 96px;
}
.nav-link{
    font-family: 'Work Sans', sans-serif;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    color: black;
}

.header2{
    width: 1072px;
    display: flex;
    justify-content: flex-start;
    margin-right: -9rem;
}
#button{
    width: 184px;
    height: 48px;
    margin-top: 10px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 0px;
}
.nav-item{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 37px 15px 7px;
}
.xidmet{
    font-family: calc(worksans);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 192px;
    background-color: #B5B5B5;
    align-items: center;
    flex-direction: column;
}
.xidmetler{
    font-family: calc(worksans);
    width: 1072px;
}
.xid{
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

.ekvator{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 1072px;
    justify-content: flex-start;
    margin-top: 32px;
}
.movcud{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    /* text-align: center; */
}
.frame{
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.drame{
    margin-top: 24px;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}
.munasibet{
    margin: 10px 0 0 19.5px;
    text-align: start;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.twodiv{
    margin-top: 38px;
    width: 1072px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.bigbro{
    width: 520px;
    height: 273px;
    border: 24px solid #1974C5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.bigbro:hover{
    height: 250px;
    width: 500px;
    color: black;
}
.meslehet{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Work Sans', sans-serif;
       color: #000000;
    text-decoration: none;
}
.boyuk{
    width: 438px;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px 12px 0 20px;
}
.formn{
    display: contents;
}
.dunya{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
   color: #000000;
    text-decoration: none;
}

.xett{
    color: inherit;
    border: 0;
    border-top: 2px solid;
    opacity: 1;
}

.socials{
    color: black;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 75px;
}
.icons{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 6px 12px 0 0;
    border-radius: 0px;
    background-color: #1974C5;
    color: white;
    border: 0px solid;
    padding: 20px 20px;
    width: 24px;
    height: 24px;
    align-items: center;
    text-decoration: none;
}

.icons:hover{
    color: black;
    background-color: #ffffff;
    border: #1974C5;
    transition: .5s;
}
.axiri{
    width: 1072px;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-top: 52px;
}
.selection{
    display: flex;
    justify-content: center;
    color: #1974C5;
    padding: 4rem 0 49px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.logomenu{
    width: 353px;
    height: 106px;
    margin-left: -0.5rem;
}
.images{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height:70px;
}
.footer1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 295px;
    background-color: #123E4E;
    align-items: center;
    flex-direction: column;
    margin: 110px 0 0 0;
}
.latest{
    color: white;
    padding: 72px 0 32px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}
.alert-danger{
    display: none;
}
.footsection{
    width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.wrapper{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.slider{
    height: 100px;
    position: relative;
    /* background-color: #1974C5; */
    /* box-shadow: 0 10px 20px -10px black; */
    display: flex;
    overflow: hidden;
}
.slide{
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 11s linear infinite;
}
.slide img{
    height: 60px;
    padding: 0 30px 0 30px;
}
@keyframes slideshow {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.slider::before
.slider::after{
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0% rgba(255,255,255,0) 100%);
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ('180deg');
}
.footsection2{
    width: 1072px;
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.input1{
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
}
#button7{
    width: 166.92px;
    height: 56px;
    padding: 15px;
    margin-left: 32px;
    background-color: #1974C5;
}

@media only screen and (max-width:888px){
    article.boyuk, .meslehet, .dunya {
        width: 100%;
        font-size: 15px;
        display: flex;
        flex-wrap: nowrap;
        height: 215px;
    }
}
@media only screen and (max-width: 1110px){
    article.boyuk, .meslehet, .dunya {
        width: 100%;
        height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    }
    .bigbro:hover{
        height: 100%;
    width: 100%;
    color: black;
    border-color: #2051a7;
    }
    .ekvator{
        width: 100%;
        padding: 0 20px 0 20px;
        text-align: center;
    }
    .bigbro{
        width: 100%;
    margin: 0 20px 25px 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    height: 100%;
    }
    .twodiv{
        margin-top: 38px;
        justify-content: space-between;
        align-self: center;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        padding: 0 20px 0 20px;
        align-content: center;
    }
  
}
@media only screen and (max-width: 1040px){
    .footsection{
        width: 100%;
    }
          .logomenu{
          height: 100%;
          width: 100%;
          margin-inline: 0; 
    }
    .line{
        width: 50px;
        height: 3px;
        padding: 3px;
        background-color: #d9d9d9;
        line-height: normal;
        margin: 3px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .menum{
        display: flex;
        justify-content: flex-end;
        align-self: center;
        flex-direction: column;
        background-color: #B5B5B5;
        padding: 10px;
        width: 100%;
        border: 1px solid antiquewhite;
        z-index: 1;
    }
    #button {
        width: 184px;
        height: 48px;
        margin: 10px 0 15px;
        background-color: #D9D9D9;
        border: none;
        border-radius: 0px;
    }
    .nav-item{
        display: flex;
        justify-content: center;
        padding: 0px 0px 15px 0px;
        /* height: 8%; */
        /* width: 100%; */
        align-self: center;
    }
    .nav{
        display: flex;
        width: 100%;
        text-align: center;
        transition: 0.2s;
        flex-direction: column;
        align-items: center;
        /* height: 58%; */
        top: 59px;
        background: #B5B5B5;
        position: absolute;
        align-content: center;
        /* padding-bottom: 10px; */
        z-index: 100;
        padding: 14px;
    }
    .header2{
        height: 0;
        position: absolute;
        margin-bottom: 65px;
        top: 0;
        /* width: 100vw; */
        transition: 0.5s;
        overflow: hidden;
        /* margin: 66px 0 0 0; */
    }
    .gango{
        display: none;
    }
    .header2.active{
        height: 100vh;
        margin: 0;
    }
    .header2.active{
        opacity: 1;
        width: 100%;
        display: flex;
    }
    header{
        height: 100%;
        width: 100%;
        margin: 0;
    }
}
@media only screen and (max-width: 1130px){
    .xidmetler{
        width: 100%;
    }
    .footer1{
        text-align: center;
        height: 100%;
        margin-top: 70px;
    }
    .footsection2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    #button7{
        margin: 20px 0 20px 0;
    }
    .socials{
        margin: 0px 0 0 10px;
    }
    .axiri{
        width: 100%;
        height: 100%;
    }
.images {
    /* width: 46%; */
    flex-wrap: wrap;
    /* grid-gap: 0 32px; */
    padding: 10px 10px 10px 10px;
    height: 83%;
    /* border: 1px solid; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
}
}
@media only screen and (max-width: 950px){
    .footing{
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width:690px) {
    .input1{
        width: 100%!important;
        padding:0 20px 0 20px ;
    }
}
@media only screen and (max-width: 768px){
    .input1{
   width: 90%!important;
   border-radius: 50px;
   padding: 17px;
}
.latest {
    font-size: 21px;
    padding: 19px 15px 13px 15px;
}
 }
 @media only screen and (max-width: 488px){
   .selection{
       text-align: center;
       font-size: 20px;
       width: 100%;
   }
 }