<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sehife
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/first.css' %}">
    
</head>
<body>
  <span class="menum">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </span>
    <header>
      <a href="{% url 'anasahifa' %}"><img src="/images/images/Gem-logo.png" alt="nnn" class="logomenu"></a>
      <div class="header2">
    <ul class="nav justify-content-center">
      
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'hakkimda' %}">HAQQINDA</a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'xidmalar' %}">XİDMƏTLƏR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'iş' %}">İŞ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agreement'%}">ANLAYIŞLAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'elaqe' %}">ƏLAQƏ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link qoshul" href="{% url 'komanda' %}">KOMANDAMIZA QOŞULUN</a>
          </li>
      </ul>
      
    </div>
    <span class="gango">
      <a class="btn btn-primary loginw" href="{% url 'login' %}" role="button" style="width: 97.92px;
      height: 44px;
      text-align: center;
      padding-top: 8px;
      font-size: 16px;">Log in</a>
    </span>
    </header>
    <div  class="headpara">
    <div class="headpara2">
        <h1 class="tomorrow">{{first.title}}</h1>
        <p class="firm">{{first.description }} </p>
        <a class="btn btn-primary" href="{% url 'xidmalar' %}" role="button" id="button2">LEARN MORE</a>
    </div>

  </div>
  <section class="section2">
    <div class="sectiondiv">
    <h2 class="clients">{{descript1.sentence|safe}}
    </h2>
    <hr>
    <div class="gridler">
        {% for i in all %}
      <img src="{{i.image.url}}" alt="" class="grid1">
      <div class="grid2">
        <h1 class="investor">{{i.title }}</h1>
        <p class="esg">{{i.description}}</p>
        <a class="btn btn-primary" href="{% url 'xidmalar' %}" role="button" id="button3">LEARN MORE</a>
      </div>
        {% endfor %}

        <span>  <hr class="seconder">
        <p class="frame">{{descript2|safe}}</p>
      </span>
      
   


      <div class="axiri">
          {% for i in selector %}
        <hr>
          <h3 class="selection">{{i.title}}</h3>
          {% endfor %}
      </div> 
      </section>
      
  
    <div class="wrapper">
      {% for i in selector %}
      <div class="slider">
      <div class="slide">
        
        <img src="{{i.logo1.url}}" alt="merkez" class="merkez">
        <img src="{{i.logo2.url}}" alt="gerb" class="gerb">
        <img src="{{i.logo3.url}}" alt="Nestle" class="nestle">
        <img src="{{i.logo4.url}}" alt="image" class="20png">
        <img src="{{i.logo5.url}}" alt="Ever" class="ever">
        <img src="{{i.logo6.url}}" alt="Silkway" class="silkway">
        <img src="{{i.logo7.url}}" alt="Berlin" class="berlin">
        
      </div>
      <div class="slide">
        
        <img src="{{i.logo1.url}}" alt="merkez" class="merkez">
        <img src="{{i.logo2.url}}" alt="gerb" class="gerb">
        <img src="{{i.logo3.url}}" alt="Nestle" class="nestle">
        <img src="{{i.logo4.url}}" alt="image" class="20png">
        <img src="{{i.logo5.url}}" alt="Ever" class="ever">
        <img src="{{i.logo6.url}}" alt="Silkway" class="silkway">
        <img src="{{i.logo7.url}}" alt="Berlin" class="berlin">
      
    </div>
    <div class="slide">
        
      <img src="{{i.logo1.url}}" alt="merkez" class="merkez">
      <img src="{{i.logo2.url}}" alt="gerb" class="gerb">
      <img src="{{i.logo3.url}}" alt="Nestle" class="nestle">
      <img src="{{i.logo4.url}}" alt="image" class="20png">
      <img src="{{i.logo5.url}}" alt="Ever" class="ever">
      <img src="{{i.logo6.url}}" alt="Silkway" class="silkway">
      <img src="{{i.logo7.url}}" alt="Berlin" class="berlin">
    
  </div>
      </div>
      {% endfor %}
    </div>
    
    
      <footer class="footer1">
    <section class="footsection">
     <h3 class="latest">Be in the know on the latest ESG trends.
    </h3>
    </section>
    <section class="footsection2">
     <form method="post" class="formn" action="{% url 'anasahifa' %}">
          {% csrf_token %}
          <div class ="alert alert-danger" role="alert">
                {{error}}
          </div>
         <input type="email" name="Email" class="input1"  style="width: 669px; height: 56px;"placeholder="info@2dlogistics.az">
         <button class="btn btn-primary"  role="button" id="button7">SUBSCRIBE</button>
     </form>
     
    <div class="socials">
      {% for i in social %}
      
      <a href="{{i.facebook}}" class="icons"><i class="fa-brands fa-facebook-f"></i></a>
      <a href ="{{i.instagram}}" class="icons"><i class="fa-brands fa-instagram"></i></a>
      <a href="{{i.linkedin}}" class="icons"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="{{i.whatsapp}}" class="icons"><i class="fa-brands fa-whatsapp"></i></a>
      {% endfor %}  
    </div>
    </section>
      </footer>
    </div>

    <script>
      menum = document.querySelector(".menum");
      menum.onclick = function() {
        header2 = document.querySelector(".header2");
        header2.classList.toggle("active");
      }
    </script>
        <script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
          <script src="https://cdn.jsd
          elivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
</html>
